<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <script src="vue.global.js"></script>
    <style>
        .done{
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <div id="app">
        <form action="#" @submit.prevent="addTodo">
            <input type="text" v-model = "newTodo">
            <button>Add Todo</button>
        </form>

        <ul>
            <li v-for="todo in filteredTodo" :key="todo.id">
                <input type="checkbox" v-model="todo.done">
                <span :class="{done:todo.done}">{{todo.text}}</span>
                <button @click="removeTodo(todo)">X</button>
            </li>
        </ul>

        <button @click="hideCompleted =!hideCompleted, filteredTodo">{{hideCompleted? 'Show all':'Hide Completed'}}</button>
    </div>

    <script>
        let id = 0;
        const vue = Vue.createApp({
            data(){
                return{
                    newTodo:'',
                    hideCompleted: false,
                    todos:[
                        {id:id++, text:'Learn HTML',done:true},
                        {id:id++, text:'Learn JavaScript',done:true},
                        {id:id++, text:'Learn Vue',done:false},
                    ],
                    newTodos:[],
                }
            },

            methods:{
                addTodo(){
                    this.todos.push({id:id++, text:this.newTodo});
                    this.newTodo = '';
                },

                removeTodo(todo){
                    this.todos = this.todos.filter((Todo)=> Todo !== todo);
                },
            },

            computed:{
                
                // filteredTodo(){
                //     if (this.hideCompleted) {
                //         this.newTodos=this.todos;
                //         return this.todos = this.todos.filter((Todo)=> Todo.done==false);
                //     } else {
                //         return this.todos = this.newTodos;
                //     } 
                // },
                filteredTodo(){
                    if (this.hideCompleted) {
                        // this.newTodos=this.todos;
                        return this.todos.filter((Todo)=> Todo.done==false);
                    } else {
                        return this.todos;
                    } 
                },
            },

        }).mount("#app");
    </script>
</body>
</html>
Je m'appelle Brunice Padonou